# 根目录下的caches，以下均为缓存文件，需在相对应得文件夹内建 .gitkeep
/caches/bakup/*
!caches/bakup/.gitkeep

/caches/caches_admin/caches_data/*
!caches/aches_admin/caches_data/.gitkeep

/caches/caches_commons/caches_data/*
!caches/caches_commons/caches_data/.gitkeep

/caches/caches_content/caches_data/*
!caches/caches_content/caches_data/.gitkeep

/caches/caches_linkage/caches_data/*
!caches/caches_linkage/caches_data/.gitkeep

/caches/caches_member/caches_data/*
!caches/caches_member/caches_data/.gitkeep

/caches/caches_model/caches_data/*
!caches/caches_model/caches_data/.gitkeep

/caches/caches_scan/caches_data/*
!caches/caches_scan/caches_data/.gitkeep

/caches/caches_search/caches_data/*
!caches/caches_search/caches_data/.gitkeep

/caches/caches_template/*
!caches/caches_template/.gitkeep

/caches/caches_tpl_data/caches_data/*
!caches/caches_tpl_data/caches_data/.gitkeep

/caches/caches_wap/caches_data/*
!caches/caches_wap/caches_data/.gitkeep

/caches/poster_js/*
!caches/poster_js/.gitkeep

/caches/sessions/*
!caches/sessions/.gitkeep

/caches/vote_js/*
!caches/vote_js/.gitkeep

/caches/caches_wap/caches_data/*
!caches/caches_wap/caches_data/.gitkeep

/caches/error_log.php

#此处说明一下 database.php和system.php是配置文件，线上和线下的数据库账号密码等是不一样的，所以git先隔离，等调试好再上传
/caches/configs/database.php
/caches/configs/system.php

#phpsso_server下的缓存文件
/phpsso_server/uploadfile/avatar/*
!phpsso_server/uploadfile/avatar/.gitkeep

/phpsso_server/caches/caches_admin/caches_data/*
!phpsso_server/caches/caches_admin/caches_data/.gitkeep

#此处同上
/phpsso_server/caches/configs/database.php
/phpsso_server/caches/configs/system.php

#根目录下
/index.html
/html/*
/uploadfile/*
!uploadfile/.gitkeep
