<div class="box blogroll ylink" style="width:960px; margin:0 auto">
	<h5>友情链接</h5>
	<div class="bk10"></div>
	<ul class="colli imgul">
		{pc:link action="type_list" siteid="$siteid" linktype="1" order="listorder DESC" num="8" return="pic_link"}
		{loop $pic_link $v}
		<li><a href="{$v['url']}" title="{$v['name']}" target="_blank"><img src="{$v[logo]}" width="88" height="31" /></a>
		</li>
		{/loop}
		{/pc}
	</ul>
	{pc:link action="type_list" siteid="$siteid" order="listorder DESC" num="10" return="dat"}
	<div class="bk10"></div>
	<div class="linka">
		{loop $dat $v}
		{if $type==0}
		<a href="{$v[url]}" target="_blank">{$v[name]}</a> |
		{else}
		<a href="{$v[url]}" target="_blank"><img src="{$v[logo]}" width="88" height="31"
				style="border: 1px solid #FFBE7A;"></a>
		{/if}
		{/loop}
	</div>
	{/pc}
</div>
<div id="FloatDIV" style="position: absolute;top: 0px;  z-index:9999">
	<div class="ad_right">

		<a target="_blank" href="http://wpa.qq.com/msgrd?v=3&uin=975964193&site=qq&menu=yes"><img border="0"
				src="http://wpa.qq.com/pa?p=2:975964193:41" alt="点击这里给我发消息" title="点击这里给我发消息"></a>
		<a target="_blank" href="http://wpa.qq.com/msgrd?v=3&uin=1518781184&site=qq&menu=yes"><img border="0"
				src="http://wpa.qq.com/pa?p=2:1518781184:41" alt="点击这里给我发消息" title="点击这里给我发消息"></a>
	</div>
</div>

<script type="text/javascript">
	var MarginLeft = 0;    //浮动层离浏览器右侧的距离
	var MarginTop = 100;   //浮动层离浏览器顶部的距离
	var Width = 209;            //浮动层宽度
	var Heigth = 167;           //浮动层高度

	//设置浮动层宽、高
	function Set() {
		document.getElementById("FloatDIV").style.width = Width + 'px';
		document.getElementById("FloatDIV").style.height = Heigth + 'px';
	}

	//实时设置浮动层的位置
	function Move() {
		var b_top = window.pageYOffset
			|| document.documentElement.scrollTop
			|| document.body.scrollTop
			|| 0;
		var b_width = document.body.clientWidth;
		document.getElementById("FloatDIV").style.top = b_top + MarginTop + 'px';
		document.getElementById("FloatDIV").style.left = b_width - Width - MarginLeft + 'px';
		setTimeout("Move();", 100);
	}

	Set();
	Move();

</script>
<div id="foot">
	Powered by 北京朗途科技有限责任公司版权所有
	<a href="http://www.miit.gov.cn/" target="_blank">京ICP备17056581号</a>
	<script>
		var _hmt = _hmt || [];
		(function () {
			var hm = document.createElement("script");
			hm.src = "https://hm.baidu.com/hm.js?833ab1650179d07fa3876f97384800d3";
			var s = document.getElementsByTagName("script")[0];
			s.parentNode.insertBefore(hm, s);
		})();
	</script>

</div>
</div>
<script type="text/javascript">
	$(function () {
		$(".picbig").each(function (i) {
			var cur = $(this).find('.img-wrap').eq(0);
			var w = cur.width();
			var h = cur.height();
			$(this).find('.img-wrap img').LoadImage(true, w, h, '{IMG_PATH}msg_img/loading.gif');
		});
	})
</script>
</body>

</html>